terremoto/
Terremoto/

.DS_Store
.DS_Store

.vscode/

__pycache__/
*.pyc

submission_format.csv
#*.csv
*.ipynb_checkpoints
*.ipynb
*.pdf
*.npy
*.joblib
submission_*.csv
#*.pkl

catboost_info/
#*.pkl
preprocessed_data.pkl
preprocessed_unbalanced.pkl
cv_bagging_model.pkl
best_xgb_model.pkl
submission.csv


catboost_info/
